/* Enter your custom styles here */

body {
	height: calc(100% - 4px)!important;
}

section[id="__page0-cont"] {
	background: #def1f2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1cbcb3, #36b8e9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1cbcb3, #36b8e9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1cbcb3, #36b8e9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1cbcb3, #36b8e9); /* Standard syntax */
}

section[id="__page0-cont"] > div {
	background:transparent;
}

/* Header Bar Styling */
.ccMBar {
	background-color:transparent!important;
	height: 7rem!important;
}

.roundedIcons {
	border-radius: 50%;
	border: 1px solid white;
}

.roundedIcons:hover {
	border: 1px solid #7d3496;
}

.ccMBar > div:nth-child(1) {
	height: 7rem!important;
}
.ccMBar > div:nth-child(3) {
	height: 7rem!important;
}

#__xmlview0--layout_vertical_clock > div {
	line-height:1rem;
}

/***************** CSS for setting the IconTabBar distances and text wrap in the tab bar correctly ************************************/
#__xmlview0--idIconTabBarFiori1--header {
	box-shadow: none!important;
}

div[id="__xmlview0--idIconTabBarFiori1--header-head"] > div {
	width:6rem;
	height:5.8rem;
}

#__xmlview0--idIconTabBarFiori1--header-head > div > div {
	width:6rem;
}

div[id="__xmlview0--idIconTabBarFiori1--header-head"] > div > .sapMITBText {
	white-space:normal;
	overflow:visible;
	height:1.7rem;
	color:white;
}

div[aria-controls="__xmlview0--idIconTabBarFiori1-content"]:hover > div > span {
	background-color: #03a0dc!important;
}

div[aria-controls="__xmlview0--idIconTabBarFiori1-content"] > div > span {
	background-color: transparent!important;
	color:white;
}

.sapMITBFilterIcon {
	border:1px solid white;
}

.sapMText{
	color:#666666;
}

#__xmlview0--clock1 {
	color:white;
}
/* Footer text */
#__text0 {
	color:white;
}

#__xmlview0--idIconTabBarFiori1-containerContent {
	display:none;
}
/***************** Setting horizontal sideNav position  ************************************/

div[id="__xmlview0--layout_horizontal_sideNav"]{
	margin-left:0!important;
	display: table;
	width: 100%;
	height: calc(100% - 112px);
}

div[id="__xmlview0--layout_vertical_sideNav"]{
	margin-top:0!important;
	margin-left:0!important;
	height:100%;
}

div[id="__xmlview0--layout_horizontal_sideNav"] > div{
	 display: table-cell;
	 height:100%;
}

div[id="__xmlview0--layout_horizontal_sideNav"] > div:nth-child(1){
	 width: 4%;
	 height:100%;
}

div[id="__xmlview0--layout_horizontal_sideNav"] > div:nth-child(2){
	 padding-top: 3px;
     padding-right: 5px;
     height:100%;
}

/***************** Setting bo container iframe width and height  ************************************/

.bo_container {
	width:100%;
	height:100%;
	/*border-color:transparent;*/
}