/* Enter your custom styles here */

/***************** CSS for setting the IconTabBar distances and text wrap in the tab bar correctly ************************************/
div[id="__xmlview0--idIconTabBarFiori1--header-head"] > div {
	width:6rem;
	height:5.8rem;
}

#__xmlview0--idIconTabBarFiori1--header-head > div > div {
	width:6rem;
}

div[id="__xmlview0--idIconTabBarFiori1--header-head"] > div > .sapMITBText {
	white-space:normal;
	overflow:visible;
	height:1.7rem;
}

/***************** Setting horizontal sideNav position  ************************************/

div[id="__xmlview0--layout_horizontal_sideNav"]{
	margin-left:0rem!important;
}

div[id="__xmlview0--layout_vertical_sideNav"]{
	margin-top:0rem!important;
	margin-left:0rem!important;
}

/***************** Setting bo container iframe width and height  ************************************/

.bo_container {
	width:100%;
	height:100%;
}