/* Enter your custom styles here */

.sapMShellCentralBox {
	height:calc(100% - 4px);
}

/* Header Bar Styling */
.ccMBar {
	background-color:transparent!important;
	height: 7rem!important;
}

.roundedIcons {
	border-radius: 50%;
	border: 1px solid #2ba6af;
}

.ccMBar > div:nth-child(1) {
	height: 7rem!important;
}
.ccMBar > div:nth-child(3) {
	height: 7rem!important;
}

#__xmlview0--layout_vertical_clock > div {
	line-height:1rem;
}

/***************** CSS for setting the IconTabBar distances and text wrap in the tab bar correctly ************************************/
#__xmlview0--idIconTabBarFiori1--header {
	box-shadow: none!important;
}

div[id="__xmlview0--idIconTabBarFiori1--header-head"] > div {
	width:6rem;
	height:5.8rem;
}

#__xmlview0--idIconTabBarFiori1--header-head > div > div {
	width:6rem;
}

div[id="__xmlview0--idIconTabBarFiori1--header-head"] > div > .sapMITBText {
	white-space:normal;
	overflow:visible;
	height:1.7rem;
}

div[aria-controls="__xmlview0--idIconTabBarFiori1-content"]:hover > div > span {
	background-color: #def1f2!important;
}

#__xmlview0--idIconTabBarFiori1-containerContent {
	display:none;
}
/***************** Setting horizontal sideNav position  ************************************/

div[id="__xmlview0--layout_horizontal_sideNav"]{
	margin-left:0!important;
	display: table;
	width: 100%;
	height: calc(100% - 150px);
}

div[id="__xmlview0--layout_vertical_sideNav"]{
	margin-top:0!important;
	margin-left:0!important;
}

div[id="__xmlview0--layout_horizontal_sideNav"] > div{
	 display: table-cell;
}

div[id="__xmlview0--layout_horizontal_sideNav"] > div:nth-child(1){
	 width: 4%;
}

div[id="__xmlview0--layout_horizontal_sideNav"] > div:nth-child(2){
	 padding-top: 3px;
     padding-right: 20px;
}

/***************** Setting bo container iframe width and height  ************************************/

.bo_container {
	width:100%;
	height:100%;
}